<div style="height: 100%" layout="column" layout-align="center center">
  <div>
    <h2>Welcome on Board ! </h2>
    <h5>First Name : </h5>
    <h6 class="mt-3 mb-4">{{firstName}}</h6>
    <h5>Last Name : </h5>
    <h6 class="mt-3 mb-4">{{lastName}}</h6>
    <h5>Number of Passengers : </h5>
    <h6 class="mt-3 mb-4">{{travelers}} Passagers</h6>
    <h6 class="mt-3">Please, <br>
      present this ticket<br>
      to the driver.
      <h2 class="mt-4">Enjoy your trip ! </h2>
    </h6>
  </div>
</div>
