<div layout="column" layout-align="center center" style="height: 100%">
  <div layout="row" layout-align="space-between center" class="wrapper-with-shadow">
    <div layout="column" layout-align="center center" class="mr-5" (click)="setLanguage('ES')">
      <img src="../../../assets/images/ES.svg">
      <h4 class="mb-0 mt-2 lang">Spanish</h4>
    </div>
    <div layout="column" layout-align="center center" class="ml-5 mr-5" (click)="setLanguage('US')">
      <img src="../../../assets/images/EN.svg">
      <h4 class=" mb-0 mt-2 lang">English</h4>
    </div>
    <div layout="column" layout-align="center center" class="ml-5" (click)="setLanguage('FR')">
      <img src="../../../assets/images/FR.svg">
      <h4 class=" mb-0 mt-2 lang">French</h4>
    </div>
  </div>
</div>
