<div layout="column" layout-align="center center" style="height: 100%">
  <div layout="row" layout-align="center center">
    <div layout="column" layout-align="center center" style="margin-right: 100px">
      <img src="../../../assets/img/piedmetro.svg" class="ml-4" style="height: 211px">
      <button id="metro-btn" md-raised-button layout="row"  color="accent" class="ml-3 mt-5">
        <img src="../../../assets/img/arrow_down.svg" class="mr-3">
        PICK UP YOUR MAP
      </button>
    </div>
    <div layout="column" layout-align="center center" style="margin-left: 100px">
      <img src="../../../assets/img/tuktuk.svg" class="icon-veille">
      <button id="tuk-btn" md-raised-button (click)="goToLanguage()" color="primary" class="mt-5">BOOK FREE TRIP
      </button>
    </div>
  </div>

</div>
